@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  font-family: 'Roboto Mono', monospace;
  margin-left: 3%;
  background: #f1c40f;
}

#header {
  font-size: 4em;
  margin-bottom: 0;
}

#subheader {
  font-size: 2em;
}

#turnon {
  background-color: green;
  padding: 0.5%;
  margin: 0.5%;
  width: 12%;
}

button {
  display: inline-block;
  background-color: #1983DF;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 2em;
  padding: 2%;
  width: 17%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2%;
}
button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
button span:after {
content: '\00bb';  /* CSS Entities. To use HTML Entities, use &#8594;*/
position: relative;
  opacity: 0;
  top: 0;
  right: -2%;
  transition: 0.5s;
}
button:hover span {
  padding-right: 2%;
}
button:hover span:after {
  opacity: 1;
  right: 0;
}
